
* {
    margin: 0;
    padding: 0;

}

body{
    background:url(./bg.png);
    background-size:cover;
    position: relative;
    background-repeat: no-repeat;
    opacity: .9;
}

.navbar {
    width: 100%;
    padding: 1px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    text-shadow: white;
    font-weight: bolder;

}

.navbar ul li::before {
    content: "";
    height: 2.5px;
    width: 0%;
    color: white;
    background: white;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
    text-shadow: none;
}

.navbar ul li:hover::before {
    width: 100%;
    text-decoration: white;
    text-shadow: none;
}

.justify-content-start {
    justify-content: flex-start!important;
    position: absolute;
    margin-left: 5rem;
    margin-top: 4rem;
}

.cursos-items {
    background-color: white;
    text-decoration: none;
    opacity: 0.8;
    color: white;
    text-shadow: none;
}

.cursos-items :hover::before {
    color: black;

    transition-duration: 0s;
    transition-delay: 1s;
    text-decoration: none;
    text-shadow: none;
}

.texto {
    margin-top: 3rem;
    text-align: center;
    margin-left: 25rem;
    ;
}

.container {
    max-width: 100%;
    padding: 25px 0;
    height: 7rem;
    background-color: rgb(48, 9, 56);
}

.slidershow {
    width: 100%;
    height: 10vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
}


.middle {
    position: absolute;
    width: 100%;
    height: 90vh;
    align-items: center;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.contenedor-editar {
    max-width: 100%;    
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
}

.datos{
   margin: 3em auto;
}

select {
    word-wrap: normal;
    margin-bottom: 0.5rem;
}

.btn-aceptar{
    margin-top: 5vh;
    margin-left: 15vh;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border:  1px solid darkmagenta;
    background-color: blueviolet;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 15rem;
    margin-bottom: 0.5rem;
}

.foto{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 25rem;
}

.pie-pagina {
    margin-top: 20%;
    width: 100%;
    background: rgb(10,15,16);
    background: linear-gradient(180deg, rgba(10,15,16,1) 0%, rgba(21,6,34,1) 59%, rgba(35,2,40,1) 100%);


}

.pie-pagina .grupo-1 {

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {

    width: 250px;

}


.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background: rgb(48, 9, 56);
    text-align: center;
    border-radius: 10px;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(50, 220, 220);

}

.pie-pagina .grupo-2 {
    background-color: rgb(48, 9, 56);
    padding: 15px 10px;
    text-align: center;
    color: white;

}