
* {
    margin: 0;
    padding: 0;

}


body{
    background:url(./bg.png);
    background-size:cover;
    position: relative;
    background-repeat: no-repeat;
    opacity: .9;
}


.contenedor-editar {
    max-width: 100%;    
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
     
}

.datos{
    margin-top:10%;
    margin-bottom:10%;
    width: 60vh;
    margin-left: 30vh;

}

.btn-aceptar{
    margin-top: 5vh;
    margin-left: 15vh;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border:  1px solid darkmagenta;
    background-color: blueviolet;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.foto{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}


.pie-pagina {
    margin-top: 20%;
    width: 100%;
    background: rgb(10,15,16);
    background: linear-gradient(180deg, rgba(10,15,16,1) 0%, rgba(21,6,34,1) 59%, rgba(35,2,40,1) 100%);


}

.pie-pagina .grupo-1 {

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {

    width: 250px;

}


.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background: rgb(48, 9, 56);
    text-align: center;
    border-radius: 10px;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(50, 220, 220);

}

.pie-pagina .grupo-2 {
    background-color: rgb(48, 9, 56);
    padding: 15px 10px;
    text-align: center;
    color: white;

}