* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-register {

    position: absolute;
    width: 400px;
    background: #402550;
    opacity: 0.8;
    padding: 30px;

    margin-top: 105px;
    margin-left: 1100px;
    top: 2%;
    z-index: 999;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;

}

.form-register {
    font-size: 15px;
    font: 'calibri';

}

.form-idioma h4 {
    font-size: 22px;
    margin-bottom: 20px;
}



.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #0a0f10;
    font-family: 'calibri';
    font-size: 14px;

}

.form-register p {
    height: 10px;
    text-align: center;
    font-size: 18px;

}

.form-register a {
    
    
    color: white;
    text-decoration: none;

    
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;


}

.slide {
    margin-top: auto;

}

.slide img {


    height: 600px;


}