* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        background-color:rgb(245, 225, 254);

}

.container{
    max-width: 100%;
    padding:0 0;
}

.bg2 {
    background: url(./bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 40em;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
   

}



.banner {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: right;
    align-items: center;
    padding:70px

}


.banner h2 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    
    text-shadow: #666 2px 2px 2px;
   
    padding: 10px;
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(243, 226, 205), 0 0 40px rgb(243, 226, 205), 0 0 80px rgb(243, 226, 205);
    


} 

.btn-neon {
    margin-left:75%;
    position: relative;
    display: inline-block;
    padding: 10px;
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    font-family: arial;
    text-decoration: none;
    align-items: center;
    margin-bottom: 20em;
    
    transition: 0.2s;
    background:crimson  ;;
    
    border: 1px;
    box-shadow: 0 0 10px rgb(243, 226, 205), 0 0 40px rgb(243, 226, 205), 0 0 80px rgb(243, 226, 205);

}

.btn-dos {

    text-decoration: none;
    outline: none;
    color: white;
    font-size: 24px;
    border: none;


}

.btn-neon:hover {

    text-decoration: none;
    color:black;
    outline: none;

    
    box-shadow: 0 0 10px rgb(240, 240, 237), 0 0 40px rgb(113, 105, 95), 0 0 80px rgb(124, 117, 108);
    border: none;
}

.btn-neon span {
    position: absoulte;
    display: block;

}

.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 130px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-shadow: #666 2px 2px 2px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 100;

}

.navbar ul li::before {
    content: "";
    height: 2.5px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%
}

.contenedor-dos {
    
    width: 100px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;

}

.content-carrousel {
    
    margin-top: 40%;
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    transition: all 300ms;
    border-radius: 100%;


}

.content-carrousel figure:hover {
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(135deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(180deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(225deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(270deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(315deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

.aboutus {
    margin-bottom: 150px;    
    width: 600px;
    height: 300px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    margin-right: 50%;
    margin-left: 20%;
    margin-top: 23%;
    padding: 30px ;
    
   


}

.fuente-aboutus {

margin-left: 20em;
max-width: 100%;
padding:15px;



}


.aboutus img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    
    float:left;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);


}


.contenedor-tres{
    background-color:rgb(245, 225, 254);
    max-width: 100%;
    height: 50em;
   
    opacity: 1;

}

.aboutus2 {
    width: 600px;
    height: 200px;
    margin-bottom: 150px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    margin-right: 50%;

    margin-left: 40%;



}

.aboutus2 img {
    width: 270px;
    height: 250px;
    border-radius: 10px;
    float: right;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);


}

.btn-neon0 {

    position: relative;
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: arial;
    text-decoration: none;
    align-items: center;
    margin-left:60%;
    
    transition: 0.2s;
    background: mediumslateblue;

    border-radius: 40px;

}


.btn-neon0:hover {
    background: rgb(15, 188, 226);

    color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(243, 226, 205), 0 0 40px rgb(243, 226, 205), 0 0 80px rgb(243, 226, 205);

}

.btn-neon0 span {
    position: absoulte;
    display: block;

}
.btn-neon2 {

    position: relative;
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: arial;
    text-decoration: none;
    align-items: center;
    
    transition: 0.2s;
    background: mediumslateblue;

    border-radius: 40px;

}


.btn-neon2:hover {
    background: rgb(15, 188, 226);

    color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(243, 226, 205), 0 0 40px rgb(243, 226, 205), 0 0 80px rgb(243, 226, 205);

}

.btn-neon2 span {
    position: absoulte;
    display: block;

}

.pie-pagina {
    width: 100%;
    background-color: mediumslateblue;


}

.pie-pagina .grupo-1 {

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {

    width: 250px;

}

.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background: rgb(48, 39, 99);
    text-align: center;
    border-radius: 10px;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(50, 220, 220);

}

.pie-pagina .grupo-2 {
    background-color: rgb(48, 39, 99);
    padding: 15px 10px;
    text-align: center;
    color: white;

}
.modal-dialog{
    width: 400px;
}
.form-register {

    position:fixed;
    width: 400px;
    background: #ffffff;
    
    padding: 30px;

   z-index: 999;
    border-radius: 4px;
    font-family: 'calibri';
    color: black; 


}

.form-register {
    font-size: 15px;
    font: 'calibri';

}

.form-idioma h4 {
    font-size: 22px;
    margin-bottom: 20px;
}



.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #0a0f10;
    font-family: 'calibri';
    font-size: 14px;

}

.form-register p {
    height: 10px;
    text-align: center;
    font-size: 18px;

}



.form-register a {


    color: black;
    text-decoration: none;


}

.form-register a:hover {
    color: black;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;


}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {

        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}