<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

    </head>
    <body>

        <div class="col-lg-6 order-lg-2">
            <div class="p-5">

                <img   class="img-fluid rounded-circle" th:if="${usuario.foto != null}"    th:src="${'/foto/usuario?id=' + usuario.id}"  >


                <img   th:if="${usuario.foto == null}" class="img-fluid rounded-circle" src="/foto-perfil.png">
            </div>

        </div>


        <form th:action="@{/usuario/actualizar-usuario}" method="POST" enctype="multipart/form-data">
            <input type="hidden" th:value="${usuario.id}" name="id"/>
            <div class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Nombre</label> <input type="text" class="form-control"  name="nombre" th:value="${usuario.nombre}" placeholder="">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Apellido</label> <input type="text" class="form-control"  name="apellido" th:value="${usuario.apellido}" placeholder="">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Correo</label> <input type="email" class="form-control"  name="email" th:value="${usuario.email}" placeholder="">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Password</label> <input type="password" class="form-control"  name="password" th:value="${usuario.password}" placeholder="">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Telefono</label> <input type="text" class="form-control"  name="telefono" th:value="${usuario.telefono}" placeholder="">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>DNI</label> <input type="text" class="form-control"  name="dni" th:value="${usuario.dni}" placeholder="">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>Region</label> <input type="text" class="form-control"  name="region" th:value="${usuario.region}" placeholder="">
                    </div>
                </div>
            </div>

            <label class="form-idioma">País:</label>
            <select name="pais" class="controls">
                <option th:each="pais : ${T(com.proyectoFinal.enums.Pais).values()}"    th:value="${pais}"
                        th:text="${pais.displayValue}" </option>
            </select>

            <label>Foto</label> <input type="file" class="form-control" name="archivo" placeholder="">

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
            </div>
        </form>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
