<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario Libro</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <meta charset="UTF-8">
         <link rel="stylesheet" href="./styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>Formulario usuario</h1>

        
                                <section class="form-register"   method="POST" >
                                    <div class="modal-header">

                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="input_container">
                                        <input class="controls" type="text" name="nombre"  placeholder="Nombre">
                                        <input class="controls" type="text" name="apellido"  placeholder="Apellido"> 
                                    </div>
                                    <div class="input_container">
                                        <input class="controls" type="email" name="email"  placeholder="Correo Electronico">
                                        <input class="controls" type="password" name="password"  placeholder="Contraseña">
                                    </div>

                                    <div class="input_container">
                                        <input class="controls" type="text" name="telefono"  placeholder="Telefono"> 
                                        <input class="controls" type="text" name="dni"  placeholder="Documento">
                                    </div>
                                    <form class="form-idioma">País:</form>
                                    <select class="controls">
                                        <option th:each="pais : ${T(com.proyectoFinal.enums.Pais).values()}" th:value="${pais}"
                                                th:text="${pais.displayValue}" </option>
                                    </select>
                                    <input class="controls" type="text" name="region" id="region" placeholder="Region">
                                    <p><a href="#">Terminos y Condiciones</a></p>

                                    <button type="submit" class="btn btn-outline-success">Registrar</button>
                                    <p><a href="#">¿Ya estas registrado? </a></p>

                                </section>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
