<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div th:fragment="piePagina" >

            <footer class="pie-pagina">

                <div class="grupo-1">
                    <div class="box">
                        <figure>
                            <a href="#">
                                <img src="./logo.png" alt="logo1"> </a>
                        </figure>
                    </div>

                    <div class="box" id="contacto">
                        <h2>DONDE ESTAMOS</h2>
                        <p>Av. de Los Idiomas 803 - CABA - ARGENTINA </p>
                        <h2>CONTACTANOS</h2>
                        <p>(+54911)5253-992288</p>
                        <h2>SECRETARIA ACADEMICA</h2>
                        <p>(+54911)5253-903248</p>

                    </div>

                    <div class="box">
                        <h2>SEGUINOS</h2>
                        <div class="red-social">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-youtube"></a>
                        </div>
                    </div>
                </div>
                <div class="grupo-2">
                    <samll>&copy; 2022 <b>I SPEAK INSTITUTE ® </b> - Todos los Derechos Reservados.</samll>


                </div>
            </footer>
 </div>
            <div th:fragment="nav" >

                <div class="navbar">
                    <a href="/index"><img src="./logo.png" class="logo" alt="Main Logo"></a>

                    <ul>
                        <li><a href="#sobre-nosotros"><strong>QUIENES SOMOS</strong></a></li>
                        <li>
                            <div class="dropdown">
                                <a class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                    <strong>CURSOS</strong>
                                </a>
                                <ul class="dropdown-menu cursos-items" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Principiante</a></li>
                                    <li><a class="dropdown-item" href="#">Intermedios</a></li>
                                    <li><a class="dropdown-item" href="#">Avanzados</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#siguenos"><strong>CONTACTO</strong></a></li>
                        <li><a href="/login-alumno"><strong>ALUMNO</strong></a></li>
                        <li><a href="/login-profesor"><strong>PROFESOR</strong></a></li>
                    </ul>
                </div>
            </div>

    </body>
</html>
